<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="spinner-grow text-info" *ngIf="loading" style="width: 30rem; height: 30rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container">
  <div class="d-flex" *ngIf="!loading" >
    <div class="row mx-md-n5">
      <div class="d-flex flex-wrap justify-content-around">
        <div class="card" style="width: 18rem;" *ngFor="let cocktail of cocktails" (click)="openCheckoutModal(cocktail.id)">
          <img [src]="cocktail.image" class="card-img-top" alt="{{cocktail.cocktailName}}">
          <div class="card-body">
            <h5 class="card-title">{{ cocktail.cocktailName }}</h5>
            <p class="card-text">{{ cocktail.type }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  title="Cocktail detail"
  [isOpen]="modalOpen"
  (click)="closeCheckoutModal()"
  *ngIf="cocktail"
>
  <div class="modal-body ">
    <img [src]="cocktail.image" class="card-img-top" alt="{{cocktail.cocktailName}}">
    <h3>{{cocktail.cocktailName}}</h3>
    <p>Description: {{cocktail.description}}</p>
    <p>Type: {{cocktail.type}}</p>
    <p>Instruction: {{cocktail.instructions}}</p>
    <div *ngFor="let item of cocktail.ingredients">
      <p><strong>Ing name: </strong>{{ item.ingName }}</p>
      <p><strong>Measure: </strong>{{ item.measure }}</p>
      <p><strong>Amount: </strong>{{ item.quantity }}</p>
    </div>
  </div>
</app-modal>
