<div class="container">
  <div class="row">
    <div class="col">
      <h3>Add cocktails</h3>
      <form
        [formGroup]="cocktailsForm"
        (ngSubmit)="onCreate()">

        <div class="form-group">
          <label for="cocktailName">Cocktail name</label>
          <input
            type="text"
            formControlName="cocktailName"
            id="cocktailName"
            class="form-control"
          />
          <small
            *ngIf="fieldHasError('cocktailName', 'required')"
            class="form-text invalid-form-text"
          >
            Enter name of cocktail
          </small>
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          <input
            type="text"
            formControlName="image"
            id="image"
            appLink
            class="form-control"
          />
          <small
            *ngIf="fieldHasError('image', 'required')"
            class="form-text invalid-form-text"
          >
            Enter cocktail link
          </small>
          <small
            *ngIf="fieldHasError('image', 'image')"
            class="form-text invalid-form-text"
          >
            Enter valid link
          </small>
        </div>

        <div class="form-group">Type:
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="alcoType"
              value="alcohol"
              name="type"
              formControlName="type"
            />

            <label for="alcoType" class="form-check-label">Alco</label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="notAlcoType"
              value="notAlco"
              name="type"
              formControlName="type"
            />
            <label for="notAlcoType" class="form-check-label">Not an alco</label>
          </div>
          <small
            *ngIf="fieldHasError('type', 'required')"
            class="form-text invalid-form-text"
          >
            Choose field
          </small>
        </div>

        <div class="form-group">
          <label class="mb-2" for="description">Description:</label>
          <textarea
            formControlName="description"
            id="description"
            cols="30"
            maxlength="300"
          >
          </textarea>
          <small
            *ngIf="fieldHasError('description', 'required')"
            class="form-text invalid-form-text"
          >
            Give some description
          </small>
        </div>

        <div class="form-group" formArrayName="ingredients">Ingredients:
          <button
            type="button"
            class="btn btn-outline-info"
            (click)="addIngs()"
          >Add</button>

          <div
            class="form-inline d-flex p-2"
            *ngFor="let ingredient of getIngredientsControls(); let i = index" [formGroupName]="i">
            <div class="d-flex justify-content-center">
              <p>{{i + 1}} ingredient</p>
              <label for="ingName"></label>
                <input
                  id="ingName"
                  type="text"
                  formControlName="ingName"
                  class="form-control"
                  placeholder="Ing name"
                />

              <label for="quantity"></label>
                <input
                  id="quantity"
                  type="text"
                  formControlName="quantity"
                  class="form-control"
                  placeholder="quantity"
                />

              <label for="measure"></label>
              <select
                id="measure"
                class="form-control"
                formControlName="measure"
              >
                <option value="">Select</option>
                <option value="millilitres">ml</option>
                <option value="grams">Grams</option>
                <option value="spoons">Spoons</option>
                <option value="drops">Drops</option>
              </select>&nbsp;
              <button type="button" class="btn btn-sm btn-outline-info" (click)="removeIng(i)">Delete</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="instructions">Instructions:</label>
          <textarea
            formControlName="instructions"
            id="instructions"
            cols="30"
            maxlength="300"
            class="form-control"
          ></textarea>
          <small
            *ngIf="fieldHasError('instructions', 'required')"
            class="form-text invalid-form-text"
          >
            Give instructions
          </small>
        </div>

        <button
          class="btn btn-primary"
          [disabled]="cocktailsForm.invalid || isTouched"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <span
            *ngIf="isUploading"
            class="spinner-border spinner-border-sm">
      <span class="sr-only">Loading...</span>
    </span>

        </button>

      </form>
    </div>
  </div>
</div>
